<h2>商品一覧</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' の詳細'">
      {{ product.name }}
    </a>
  </h3>
    <p>{{ product.price }}円</p>
  
  <p *ngIf="product.description">
    Descrition: {{ product.description }}
  </p>

  <button type="butoon" (click)="share()">
    共有する
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->